# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
